#listWrapper
  border-left: 5px solid fuchsia
  border-radius: 6px

#mainEditorListWrapper
  border-left: 6px solid   #8383f1
  border-radius: 6px

.scrollIt
  height: 100%
  overflow-x: hidden
  overflow-y: scroll

#tasksWrapper
  margin-left: 3vh



