#box {
  background: none;
}

.jumbotron {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  height: 97vh;
  background: #fb5058 !important;
  background: linear-gradient(70deg, #fb5058 0%, #7a298d 41%, #8084f3 76%, #d76ac2 100%) !important;
}

#headerWrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#jumbotron-text-container {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 8vh !important;
}

#mainPageJumbotron {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  height: 90vh;
  background: #fb5058 !important;
  background: linear-gradient(70deg, #fb5058 0%, #7a298d 41%, #8084f3 76%, #d76ac2 100%) !important;
}

#listNameWrapper {
  justify-content: space-between;
}

#tasksWrapper {
  justify-content: space-between;
}

#icon {
  padding: 1px;
}

#mainEditorAddTask {
  justify-content: space-between;
}

#tasksWrapper {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#taskTitle {
  margin-left: -3vh !important;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: fuchsia;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

#calendarComponent {
  padding: 0 !important;
}

#calendar {
  padding: 0.5vh;
}

#logo {
  width: 15vh;
  margin-top: 3vh;
  margin-left: 10vh;
}

#options-button {
  border: 2px solid white;
  margin-top: 1vh;
  margin-right: 1vh;
  border-radius: 15px;
  background-color: white;
  color: #8383f1 !important;
}

#logout-button {
  color: white;
  border: 2px solid white;
  margin-top: 1vh;
  margin-right: 2vh;
  border-radius: 15px;
}

#add-task-form {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

#clickedListWrapper {
  margin-top: 5vh;
}

#pageTemplateComponent {
  margin: 1.5%;
}

#mainWrapper {
  height: 77vh;
}

#clickedListWrapper {
  align-items: flex-end;
}

#title {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#submit {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#leftSideComponent {
  background-color: white;
  border: 2px;
  padding: 2%;
  height: 57vh;
  border-radius: 25px !important;
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
}
@media only screen and (max-width: 1200px) {
  #leftSideComponent {
    margin-top: 5vh;
  }
}

#mainEditorComponent {
  background-color: white;
  border: 2px;
  padding: 2%;
  height: 57vh;
  border-radius: 25px !important;
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
}
@media only screen and (max-width: 1200px) {
  #mainEditorComponent {
    margin-top: 5vh;
  }
}

#centerComponent {
  background-color: white !important;
  border: 2px;
  border-radius: 25px;
  padding: 2%;
  height: 57vh;
}

#rightComponent {
  background-color: white !important;
  border: 2px;
  border-radius: 25px;
  padding: 2%;
  height: 57vh;
  margin-bottom: 5vh;
}
@media only screen and (max-width: 1200px) {
  #rightComponent {
    margin-top: 5vh;
  }
}

#mainColumns {
  background-color: #eef2f5;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -65vh;
}

#toggleWrapper {
  margin-bottom: 2vh;
}

#listWrapper {
  border-left: 5px solid fuchsia;
  border-radius: 6px;
}

#mainEditorListWrapper {
  border-left: 6px solid #8383f1;
  border-radius: 6px;
}

#leftComponent {
  max-height: 55vh;
}

.scrollIt {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#tasksWrapper {
  margin-left: 3vh;
}

#loginFormBox {
  border-radius: 20px;
  border: 3px solid white;
  padding: 5vh;
}

#registerFormBox {
  border-radius: 20px;
  border: 3px solid white;
  padding: 5vh;
}

@media only screen and (max-width: 1200px) {
  #mainWrapper {
    justify-content: space-between;
  }
}

#footer-element {
  margin: 2vh;
}

#footer {
  border-radius: 20px;
  border: 1px solid #8084F3;
  color: #8084F3;
}

#github {
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
